<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.A</key>
	<array>
		<string>A'</string>
		<string>Adieresis</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aacute</string>
		<string>Aring</string>
		<string>Acircumflex</string>
		<string>Agrave</string>
		<string>Atilde</string>
	</array>
	<key>.C</key>
	<array>
		<string>C'</string>
		<string>Ccaron</string>
		<string>Cacute</string>
		<string>Ccedilla</string>
	</array>
	<key>.D</key>
	<array>
		<string>D'</string>
		<string>Dcaron</string>
	</array>
	<key>.E_right</key>
	<array>
		<string>E'</string>
		<string>Eacute</string>
		<string>Emacron</string>
		<string>Edotaccent</string>
		<string>Ecaron</string>
		<string>OE</string>
		<string>Egrave</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
	</array>
	<key>.I</key>
	<array>
		<string>I'</string>
		<string>H</string>
		<string>M</string>
		<string>N</string>
		<string>Iacute</string>
		<string>Igrave</string>
		<string>Idieresis</string>
		<string>Icircumflex</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ntilde</string>
	</array>
	<key>.I_left</key>
	<array>
		<string>I'</string>
		<string>B</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>K</string>
		<string>L</string>
		<string>P</string>
		<string>R</string>
		<string>Dcaron</string>
		<string>Eacute</string>
		<string>Emacron</string>
		<string>Edotaccent</string>
		<string>Ecaron</string>
		<string>Eogonek</string>
		<string>Egrave</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Iacute</string>
		<string>Igrave</string>
		<string>Idieresis</string>
		<string>Icircumflex</string>
		<string>Lcaron</string>
		<string>Iogonek</string>
		<string>Racute</string>
		<string>Rcaron</string>
	</array>
	<key>.I_right</key>
	<array>
		<string>I'</string>
		<string>H</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ntilde</string>
		<string>Iacute</string>
		<string>Igrave</string>
		<string>Idieresis</string>
		<string>Icircumflex</string>
		<string>Iogonek</string>
	</array>
	<key>.O_left</key>
	<array>
		<string>O'</string>
		<string>C</string>
		<string>G</string>
		<string>Q</string>
		<string>Odieresis</string>
		<string>Ccaron</string>
		<string>Cacute</string>
		<string>Otilde</string>
		<string>Omacron</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Ccedilla</string>
		<string>Ograve</string>
	</array>
	<key>.O_right</key>
	<array>
		<string>O'</string>
		<string>Q</string>
		<string>Odieresis</string>
		<string>Otilde</string>
		<string>Omacron</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Ograve</string>
		<string>OE</string>
	</array>
	<key>.S</key>
	<array>
		<string>S'</string>
		<string>Scaron</string>
		<string>Sacute</string>
	</array>
	<key>.U</key>
	<array>
		<string>U'</string>
		<string>Umacron</string>
		<string>Uring</string>
		<string>Uacute</string>
		<string>Uogonek</string>
		<string>Ugrave</string>
		<string>Ucircumflex</string>
		<string>Uhungarumlaut</string>
		<string>Udieresis</string>
	</array>
	<key>.Y</key>
	<array>
		<string>Y'</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>.Z</key>
	<array>
		<string>Z'</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Zacute</string>
	</array>
	<key>.a</key>
	<array>
		<string>a'</string>
		<string>amacron</string>
		<string>aacute</string>
		<string>aogonek</string>
		<string>adieresis</string>
		<string>acircumflex</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>.c</key>
	<array>
		<string>c'</string>
		<string>ccaron</string>
		<string>cacute</string>
		<string>ccedilla</string>
		<string>cent</string>
	</array>
	<key>.e</key>
	<array>
		<string>e'</string>
		<string>eacute</string>
		<string>emacron</string>
		<string>edotaccent</string>
		<string>ecaron</string>
		<string>eogonek</string>
		<string>egrave</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
	</array>
	<key>.i</key>
	<array>
		<string>dotlessi'</string>
		<string>i</string>
		<string>j</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>igrave</string>
		<string>idieresis</string>
		<string>iogonek</string>
	</array>
	<key>.n</key>
	<array>
		<string>n'</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ntilde</string>
	</array>
	<key>.o</key>
	<array>
		<string>o'</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>otilde</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>ograve</string>
	</array>
	<key>.r</key>
	<array>
		<string>r'</string>
		<string>rcaron</string>
		<string>racute</string>
	</array>
	<key>.s</key>
	<array>
		<string>s'</string>
		<string>sacute</string>
		<string>scaron</string>
	</array>
	<key>.u</key>
	<array>
		<string>u'</string>
		<string>udieresis</string>
		<string>umacron</string>
		<string>uring</string>
		<string>uhungarumlaut</string>
		<string>ugrave</string>
		<string>ucircumflex</string>
		<string>uacute</string>
		<string>uogonek</string>
	</array>
	<key>.y</key>
	<array>
		<string>y'</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>.z</key>
	<array>
		<string>z'</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>zacute</string>
	</array>
	<key>_A</key>
	<array>
		<string>A'</string>
		<string>Adieresis</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aacute</string>
		<string>Aring</string>
		<string>Acircumflex</string>
		<string>Agrave</string>
		<string>Atilde</string>
	</array>
	<key>_O_left</key>
	<array>
		<string>O'</string>
		<string>C</string>
		<string>G</string>
		<string>Q</string>
		<string>zero</string>
	</array>
	<key>_O_right</key>
	<array>
		<string>O'</string>
		<string>C</string>
		<string>D</string>
		<string>G</string>
		<string>Q</string>
		<string>zero</string>
	</array>
	<key>_V</key>
	<array>
		<string>V'</string>
		<string>W</string>
		<string></string>
	</array>
	<key>_hyphen</key>
	<array>
		<string>hyphen'</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>_n</key>
	<array>
		<string>n'</string>
		<string>m</string>
		<string>p</string>
		<string>r</string>
	</array>
	<key>_n_right</key>
	<array>
		<string>n'</string>
		<string>h</string>
		<string>m</string>
	</array>
	<key>_o_left</key>
	<array>
		<string>o'</string>
		<string>d</string>
		<string>q</string>
		<string>c</string>
		<string>e</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>otilde</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>ograve</string>
		<string>a.alt</string>
	</array>
	<key>_o_right</key>
	<array>
		<string>o'</string>
		<string>b</string>
		<string>p</string>
		<string>c</string>
		<string>e</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>otilde</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>ograve</string>
	</array>
	<key>standard</key>
	<array>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>period</string>
		<string>eacute</string>
	</array>
	<key>superior</key>
	<array>
		<string>a.superior</string>
		<string>b.superior</string>
		<string>c.superior</string>
		<string>d.superior</string>
		<string>e.superior</string>
		<string>f.superior</string>
		<string>g.superior</string>
		<string>h.superior</string>
		<string>i.superior</string>
		<string>j.superior</string>
		<string>k.superior</string>
		<string>l.superior</string>
		<string>m.superior</string>
		<string>n.superior</string>
		<string>o.superior</string>
		<string>p.superior</string>
		<string>q.superior</string>
		<string>r.superior</string>
		<string>s.superior</string>
		<string>t.superior</string>
		<string>u.superior</string>
		<string>v.superior</string>
		<string>w.superior</string>
		<string>x.superior</string>
		<string>y.superior</string>
		<string>z.superior</string>
		<string>period.superior</string>
		<string>eacute.superior</string>
	</array>
</dict>
</plist>
