<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>A</key>
	<dict>
	    <key>y</key>
	    <integer>-40</integer>
	    <key>w</key>
	    <integer>-50</integer>
	    <key>v</key>
	    <integer>-50</integer>
	    <key>t</key>
	    <integer>-20</integer>
	    <key>quotesingle</key>
	    <integer>-90</integer>
	    <key>quotesinglbase</key>
	    <integer>-40</integer>
	    <key>quoteright</key>
	    <integer>-80</integer>
	    <key>quoteleft</key>
	    <integer>-80</integer>
	    <key>quotedblright</key>
	    <integer>-90</integer>
	    <key>quotedblleft</key>
	    <integer>-80</integer>
	    <key>quotedblbase</key>
	    <integer>-40</integer>
	    <key>o</key>
	    <integer>-20</integer>
	    <key>hyphen</key>
	    <integer>-20</integer>
	    <key>g</key>
	    <integer>-30</integer>
	    <key>bullet</key>
	    <integer>-40</integer>
	    <key>Y</key>
	    <integer>-120</integer>
	    <key>W</key>
	    <integer>-70</integer>
	    <key>V</key>
	    <integer>-90</integer>
	    <key>U</key>
	    <integer>-10</integer>
	    <key>T</key>
	    <integer>-100</integer>
	    <key>O</key>
	    <integer>-30</integer>
	    <key>J</key>
	    <integer>-10</integer>
	</dict>
	<key>F</key>
	<dict>
	    <key>space</key>
	    <integer>-30</integer>
	    <key>o</key>
	    <integer>-60</integer>
	    <key>n</key>
	    <integer>-70</integer>
	    <key>hyphen</key>
	    <integer>-40</integer>
	    <key>bullet</key>
	    <integer>-40</integer>
	    <key>O</key>
	    <integer>-40</integer>
	    <key>J</key>
	    <integer>-100</integer>
	    <key>A</key>
	    <integer>-120</integer>
	</dict>
	<key>J</key>
	<dict>
	    <key>A</key>
	    <integer>-10</integer>
	</dict>
	<key>K</key>
	<dict>
	    <key>hyphen</key>
	    <integer>-40</integer>
	    <key>bullet</key>
	    <integer>-40</integer>
	    <key>O</key>
	    <integer>-40</integer>
	</dict>
	<key>L</key>
	<dict>
	    <key>y</key>
	    <integer>-50</integer>
	    <key>w</key>
	    <integer>-50</integer>
	    <key>v</key>
	    <integer>-60</integer>
	    <key>quotesingle</key>
	    <integer>-120</integer>
	    <key>quoteright</key>
	    <integer>-80</integer>
	    <key>quotedblright</key>
	    <integer>-80</integer>
	    <key>o</key>
	    <integer>-20</integer>
	    <key>hyphen</key>
	    <integer>-40</integer>
	    <key>bullet</key>
	    <integer>-60</integer>
	    <key>Y</key>
	    <integer>-120</integer>
	    <key>W</key>
	    <integer>-80</integer>
	    <key>V</key>
	    <integer>-100</integer>
	    <key>U</key>
	    <integer>-20</integer>
	    <key>T</key>
	    <integer>-120</integer>
	    <key>O</key>
	    <integer>-40</integer>
	</dict>
	<key>O</key>
	<dict>
	    <key>quotesingle</key>
	    <integer>-40</integer>
	    <key>Y</key>
	    <integer>-50</integer>
	    <key>X</key>
	    <integer>-40</integer>
	    <key>W</key>
	    <integer>-20</integer>
	    <key>V</key>
	    <integer>-30</integer>
	    <key>T</key>
	    <integer>-40</integer>
	    <key>A</key>
	    <integer>-30</integer>
	</dict>
	<key>P</key>
	<dict>
	    <key>space</key>
	    <integer>-40</integer>
	    <key>s</key>
	    <integer>-20</integer>
	    <key>period</key>
	    <integer>-80</integer>
	    <key>o</key>
	    <integer>-60</integer>
	    <key>n</key>
	    <integer>-20</integer>
	    <key>hyphen</key>
	    <integer>-40</integer>
	    <key>comma</key>
	    <integer>-80</integer>
	    <key>a</key>
	    <integer>-20</integer>
	    <key>Y</key>
	    <integer>-10</integer>
	    <key>W</key>
	    <integer>-15</integer>
	    <key>V</key>
	    <integer>-20</integer>
	    <key>T</key>
	    <integer>-30</integer>
	    <key>A</key>
	    <integer>-80</integer>
	</dict>
	<key>R</key>
	<dict>
	    <key>o</key>
	    <integer>-20</integer>
	    <key>hyphen</key>
	    <integer>-20</integer>
	    <key>Y</key>
	    <integer>-40</integer>
	    <key>W</key>
	    <integer>-20</integer>
	    <key>V</key>
	    <integer>-40</integer>
	    <key>T</key>
	    <integer>-20</integer>
	    <key>O</key>
	    <integer>-20</integer>
	    <key>A</key>
	    <integer>-20</integer>
	</dict>
	<key>S</key>
	<dict>
	    <key>quotesingle</key>
	    <integer>-20</integer>
	    <key>Y</key>
	    <integer>-50</integer>
	    <key>W</key>
	    <integer>-30</integer>
	    <key>V</key>
	    <integer>-40</integer>
	    <key>T</key>
	    <integer>-40</integer>
	</dict>
	<key>T</key>
	<dict>
	    <key>z</key>
	    <integer>-50</integer>
	    <key>y</key>
	    <integer>-60</integer>
	    <key>x</key>
	    <integer>-60</integer>
	    <key>w</key>
	    <integer>-60</integer>
	    <key>v</key>
	    <integer>-60</integer>
	    <key>u</key>
	    <integer>-60</integer>
	    <key>space</key>
	    <integer>-30</integer>
	    <key>s</key>
	    <integer>-30</integer>
	    <key>period</key>
	    <integer>-50</integer>
	    <key>o</key>
	    <integer>-120</integer>
	    <key>n</key>
	    <integer>-60</integer>
	    <key>hyphen</key>
	    <integer>-70</integer>
	    <key>g</key>
	    <integer>-40</integer>
	    <key>f</key>
	    <integer>-40</integer>
	    <key>comma</key>
	    <integer>-50</integer>
	    <key>bullet</key>
	    <integer>-40</integer>
	    <key>a</key>
	    <integer>-60</integer>
	    <key>S</key>
	    <integer>-40</integer>
	    <key>O</key>
	    <integer>-40</integer>
	    <key>A</key>
	    <integer>-100</integer>
	</dict>
	<key>U</key>
	<dict>
	    <key>A</key>
	    <integer>-10</integer>
	</dict>
	<key>V</key>
	<dict>
	    <key>space</key>
	    <integer>-30</integer>
	    <key>period</key>
	    <integer>-40</integer>
	    <key>o</key>
	    <integer>-60</integer>
	    <key>n</key>
	    <integer>-20</integer>
	    <key>hyphen</key>
	    <integer>-50</integer>
	    <key>comma</key>
	    <integer>-40</integer>
	    <key>bullet</key>
	    <integer>-50</integer>
	    <key>a</key>
	    <integer>-80</integer>
	    <key>S</key>
	    <integer>-40</integer>
	    <key>O</key>
	    <integer>-30</integer>
	    <key>A</key>
	    <integer>-90</integer>
	</dict>
	<key>W</key>
	<dict>
	    <key>space</key>
	    <integer>-20</integer>
	    <key>hyphen</key>
	    <integer>-30</integer>
	    <key>O</key>
	    <integer>-20</integer>
	    <key>A</key>
	    <integer>-70</integer>
	</dict>
	<key>X</key>
	<dict>
	    <key>y</key>
	    <integer>-20</integer>
	    <key>v</key>
	    <integer>-20</integer>
	    <key>quotesingle</key>
	    <integer>-50</integer>
	    <key>o</key>
	    <integer>-40</integer>
	    <key>hyphen</key>
	    <integer>-30</integer>
	    <key>bullet</key>
	    <integer>-30</integer>
	    <key>Y</key>
	    <integer>-40</integer>
	    <key>O</key>
	    <integer>-40</integer>
	</dict>
	<key>Y</key>
	<dict>
	    <key>z</key>
	    <integer>-40</integer>
	    <key>y</key>
	    <integer>-40</integer>
	    <key>x</key>
	    <integer>-40</integer>
	    <key>w</key>
	    <integer>-40</integer>
	    <key>v</key>
	    <integer>-60</integer>
	    <key>u</key>
	    <integer>-40</integer>
	    <key>space</key>
	    <integer>-70</integer>
	    <key>s</key>
	    <integer>-40</integer>
	    <key>period</key>
	    <integer>-60</integer>
	    <key>o</key>
	    <integer>-60</integer>
	    <key>n</key>
	    <integer>-40</integer>
	    <key>hyphen</key>
	    <integer>-60</integer>
	    <key>g</key>
	    <integer>-40</integer>
	    <key>f</key>
	    <integer>-40</integer>
	    <key>comma</key>
	    <integer>-60</integer>
	    <key>bullet</key>
	    <integer>-60</integer>
	    <key>a</key>
	    <integer>-60</integer>
	    <key>X</key>
	    <integer>-40</integer>
	    <key>S</key>
	    <integer>-40</integer>
	    <key>O</key>
	    <integer>-50</integer>
	    <key>J</key>
	    <integer>-140</integer>
	    <key>A</key>
	    <integer>-120</integer>
	</dict>
	<key>Z</key>
	<dict>
	    <key>hyphen</key>
	    <integer>-20</integer>
	    <key>bullet</key>
	    <integer>-40</integer>
	    <key>O</key>
	    <integer>-20</integer>
	</dict>
	<key>a</key>
	<dict>
	    <key>Y</key>
	    <integer>-60</integer>
	    <key>V</key>
	    <integer>-40</integer>
	    <key>T</key>
	    <integer>-50</integer>
	</dict>
	<key>bullet</key>
	<dict>
	    <key>Z</key>
	    <integer>-20</integer>
	    <key>Y</key>
	    <integer>-60</integer>
	    <key>X</key>
	    <integer>-30</integer>
	    <key>V</key>
	    <integer>-50</integer>
	    <key>T</key>
	    <integer>-40</integer>
	    <key>A</key>
	    <integer>-40</integer>
	</dict>
	<key>f</key>
	<dict>
	    <key>Y</key>
	    <integer>40</integer>
	    <key>V</key>
	    <integer>40</integer>
	    <key>T</key>
	    <integer>40</integer>
	</dict>
	<key>g</key>
	<dict>
	    <key>Y</key>
	    <integer>-40</integer>
	    <key>T</key>
	    <integer>-40</integer>
	</dict>
	<key>hyphen</key>
	<dict>
	    <key>Y</key>
	    <integer>-60</integer>
	    <key>X</key>
	    <integer>-30</integer>
	    <key>W</key>
	    <integer>-30</integer>
	    <key>V</key>
	    <integer>-50</integer>
	    <key>T</key>
	    <integer>-70</integer>
	    <key>A</key>
	    <integer>-20</integer>
	</dict>
	<key>k</key>
	<dict>
	    <key>Y</key>
	    <integer>-40</integer>
	    <key>T</key>
	    <integer>-40</integer>
	</dict>
	<key>n</key>
	<dict>
	    <key>Y</key>
	    <integer>-40</integer>
	    <key>V</key>
	    <integer>-20</integer>
	    <key>T</key>
	    <integer>-60</integer>
	</dict>
	<key>o</key>
	<dict>
	    <key>y</key>
	    <integer>-10</integer>
	    <key>x</key>
	    <integer>-15</integer>
	    <key>w</key>
	    <integer>-10</integer>
	    <key>v</key>
	    <integer>-15</integer>
	    <key>Y</key>
	    <integer>-60</integer>
	    <key>X</key>
	    <integer>-40</integer>
	    <key>V</key>
	    <integer>-60</integer>
	    <key>T</key>
	    <integer>-120</integer>
	</dict>
	<key>q</key>
	<dict>
	    <key>Y</key>
	    <integer>-40</integer>
	    <key>T</key>
	    <integer>-60</integer>
	</dict>
	<key>quotedblleft</key>
	<dict>
	    <key>A</key>
	    <integer>-90</integer>
	</dict>
	<key>quotedblright</key>
	<dict>
	    <key>A</key>
	    <integer>-90</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
	    <key>A</key>
	    <integer>-80</integer>
	</dict>
	<key>quoteright</key>
	<dict>
	    <key>A</key>
	    <integer>-80</integer>
	</dict>
	<key>quotesinglbase</key>
	<dict>
	</dict>
	<key>quotesingle</key>
	<dict>
	    <key>X</key>
	    <integer>-50</integer>
	    <key>S</key>
	    <integer>-20</integer>
	    <key>O</key>
	    <integer>-40</integer>
	    <key>J</key>
	    <integer>-100</integer>
	    <key>A</key>
	    <integer>-80</integer>
	</dict>
	<key>r</key>
	<dict>
	    <key>period</key>
	    <integer>-30</integer>
	    <key>comma</key>
	    <integer>-30</integer>
	    <key>T</key>
	    <integer>-40</integer>
	</dict>
	<key>s</key>
	<dict>
	    <key>Y</key>
	    <integer>-40</integer>
	    <key>T</key>
	    <integer>-30</integer>
	</dict>
	<key>space</key>
	<dict>
	    <key>Y</key>
	    <integer>-70</integer>
	    <key>W</key>
	    <integer>-20</integer>
	    <key>V</key>
	    <integer>-30</integer>
	    <key>T</key>
	    <integer>-30</integer>
	</dict>
	<key>t</key>
	<dict>
	    <key>Y</key>
	    <integer>-40</integer>
	</dict>
	<key>u</key>
	<dict>
	    <key>Y</key>
	    <integer>-40</integer>
	    <key>T</key>
	    <integer>-60</integer>
	</dict>
	<key>v</key>
	<dict>
	    <key>period</key>
	    <integer>-20</integer>
	    <key>o</key>
	    <integer>-15</integer>
	    <key>comma</key>
	    <integer>-20</integer>
	    <key>Y</key>
	    <integer>-60</integer>
	    <key>X</key>
	    <integer>-20</integer>
	    <key>T</key>
	    <integer>-60</integer>
	</dict>
	<key>w</key>
	<dict>
	    <key>period</key>
	    <integer>-20</integer>
	    <key>o</key>
	    <integer>-10</integer>
	    <key>comma</key>
	    <integer>-20</integer>
	    <key>Y</key>
	    <integer>-40</integer>
	    <key>T</key>
	    <integer>-60</integer>
	</dict>
	<key>x</key>
	<dict>
	    <key>o</key>
	    <integer>-15</integer>
	    <key>Y</key>
	    <integer>-40</integer>
	    <key>T</key>
	    <integer>-60</integer>
	</dict>
	<key>y</key>
	<dict>
	    <key>period</key>
	    <integer>-20</integer>
	    <key>o</key>
	    <integer>-10</integer>
	    <key>comma</key>
	    <integer>-20</integer>
	    <key>Y</key>
	    <integer>-40</integer>
	    <key>X</key>
	    <integer>-20</integer>
	    <key>T</key>
	    <integer>-60</integer>
	</dict>
	<key>z</key>
	<dict>
	    <key>Y</key>
	    <integer>-40</integer>
	    <key>T</key>
	    <integer>-50</integer>
	</dict>
    </dict>
</plist>
