<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
    <key>org.robofab.glyphOrder</key>
      <array>
        <string>E</string>
        <string>X</string>
        <string>L</string>
        <string>S</string>
        <string>K</string>
        <string>o</string>
        <string>p</string>
        <string>b</string>
        <string>B</string>
        <string>T</string>
        <string>R</string>
        <string>F</string>
        <string>I</string>
        <string>H</string>
        <string>U</string>
        <string>Y</string>
        <string>J</string>
        <string>O</string>
        <string>C</string>
        <string>G</string>
        <string>N</string>
        <string>M</string>
        <string>D</string>
        <string>P</string>
        <string>A</string>
        <string>V</string>
        <string>W</string>
        <string>Q</string>
        <string>Z</string>
        <string>space</string>
        <string>a</string>
        <string>n</string>
        <string>g</string>
        <string>e</string>
        <string>l</string>
        <string>v</string>
        <string>s</string>
        <string>c</string>
        <string>x</string>
        <string>y</string>
        <string>r</string>
        <string>t</string>
        <string>i</string>
        <string>b.alt</string>
        <string>d</string>
        <string>u</string>
        <string>period</string>
        <string>hyphen</string>
        <string>m</string>
        <string>f</string>
        <string>h</string>
        <string>q</string>
        <string>z</string>
        <string>comma</string>
        <string>circumflex</string>
        <string>acircumflex</string>
        <string>acute</string>
        <string>eacute</string>
        <string>grave</string>
        <string>egrave</string>
        <string>ocircumflex</string>
        <string>quotesingle</string>
        <string>quoteright</string>
        <string>agrave</string>
        <string>Eacute</string>
        <string>w</string>
        <string>k</string>
        <string>j</string>
        <string>colon</string>
        <string>semicolon</string>
        <string>five</string>
        <string>zero</string>
        <string>three</string>
        <string>one</string>
        <string>seven</string>
        <string>nine</string>
        <string>six</string>
        <string>eight</string>
        <string>two</string>
        <string>four</string>
        <string>ecircumflex</string>
        <string>ugrave</string>
        <string>a.alt</string>
        <string>at</string>
        <string>emdash</string>
        <string>ucircumflex</string>
        <string>aacute</string>
        <string>icircumflex</string>
        <string>bullet</string>
        <string>e.superior</string>
        <string>g.superior</string>
        <string>i.superior</string>
        <string>n.superior</string>
        <string>p.superior</string>
        <string>r.superior</string>
        <string>t.superior</string>
        <string>u.superior</string>
        <string>dotlessi</string>
        <string>slash</string>
        <string>bracketleft</string>
        <string>bracketright</string>
        <string>backslash</string>
        <string>equal</string>
        <string>plus</string>
        <string>parenleft</string>
        <string>parenright</string>
        <string>bullet.alt</string>
        <string>period.superior</string>
        <string>l.superior</string>
        <string>g.alt</string>
        <string>endash</string>
        <string>cedilla</string>
        <string>ccedilla</string>
        <string>igrave</string>
        <string>iacute</string>
        <string>uacute</string>
        <string>ograve</string>
        <string>oacute</string>
        <string>dieresis</string>
        <string>edieresis</string>
        <string>adieresis</string>
        <string>idieresis</string>
        <string>odieresis</string>
        <string>udieresis</string>
        <string>Ccedilla</string>
        <string>ellipsis</string>
        <string>oe</string>
        <string>OE</string>
        <string>openbullet</string>
        <string>a.superior</string>
        <string>x.superior</string>
        <string>f.superior</string>
        <string>y.alt</string>
        <string>question</string>
        <string>exclam</string>
        <string>questiondown</string>
        <string>ae</string>
        <string>AE</string>
        <string>numbersign</string>
        <string>dollar</string>
        <string>multiply</string>
        <string>underscore</string>
        <string>less</string>
        <string>greater</string>
        <string>Euro</string>
        <string>ampersand</string>
        <string>guillemotleft</string>
        <string>guillemotright</string>
        <string>plusminus</string>
        <string>lessequal</string>
        <string>greaterequal</string>
        <string>.notdef</string>
        <string>.null</string>
        <string>cent</string>
        <string>notequal</string>
        <string>percent</string>
        <string>Oslash</string>
        <string>divide</string>
        <string>sterling</string>
        <string>oslash</string>
        <string>degree</string>
        <string>Ydieresis</string>
        <string>tilde</string>
        <string>ntilde</string>
        <string>paragraph</string>
        <string>bar</string>
        <string>asciitilde</string>
        <string>ring</string>
        <string>aring</string>
        <string>ordmasculine</string>
        <string>florin</string>
        <string>caron</string>
        <string>zcaron</string>
        <string>scaron</string>
        <string>logicalnot</string>
        <string>asciicircum</string>
        <string>breve</string>
        <string>dotaccent</string>
        <string>macron</string>
        <string>hungarumlaut</string>
        <string>ogonek</string>
        <string>grave.case</string>
        <string>acute.case</string>
        <string>circumflex.case</string>
        <string>dieresis.case</string>
        <string>tilde.case</string>
        <string>macron.case</string>
        <string>breve.case</string>
        <string>ring.case</string>
        <string>caron.case</string>
        <string>Uacute</string>
        <string>Iacute</string>
        <string>Oacute</string>
        <string>Ugrave</string>
        <string>Igrave</string>
        <string>Egrave</string>
        <string>Ecircumflex</string>
        <string>Odieresis</string>
        <string>Udieresis</string>
        <string>Edieresis</string>
        <string>Idieresis</string>
        <string>Ucircumflex</string>
        <string>Ograve</string>
        <string>Ocircumflex</string>
        <string>Icircumflex</string>
        <string>Scaron</string>
        <string>Zcaron</string>
        <string>Yacute</string>
        <string>Adieresis</string>
        <string>Aring</string>
        <string>atilde</string>
        <string>otilde</string>
        <string>Acircumflex</string>
        <string>Aacute</string>
        <string>Agrave</string>
        <string>Atilde</string>
        <string>guilsinglleft</string>
        <string>guilsinglright</string>
        <string>periodcentered</string>
        <string>quoteleft</string>
        <string>dagger</string>
        <string>daggerdbl</string>
        <string>lozenge</string>
        <string>Ntilde</string>
        <string>Eth</string>
        <string>quotedblleft</string>
        <string>quotedblright</string>
        <string>quotesinglbase</string>
        <string>quotedblbase</string>
        <string>exclamdown</string>
        <string>braceleft</string>
        <string>braceright</string>
        <string>section</string>
        <string>arrowleft</string>
        <string>arrowup</string>
        <string>arrowright</string>
        <string>arrowdown</string>
        <string>arrowboth</string>
        <string>quotedbl</string>
        <string>asterisk</string>
        <string>Amacron</string>
        <string>amacron</string>
        <string>Ccaron</string>
        <string>ccaron</string>
        <string>Cacute</string>
        <string>cacute</string>
        <string>Zacute</string>
        <string>zacute</string>
        <string>Dcaron</string>
        <string>Emacron</string>
        <string>emacron</string>
        <string>Ecaron</string>
        <string>ecaron</string>
        <string>nacute</string>
        <string>Ncaron</string>
        <string>ncaron</string>
        <string>Otilde</string>
        <string>ohungarumlaut</string>
        <string>Omacron</string>
        <string>omacron</string>
        <string>racute</string>
        <string>rcaron</string>
        <string>Sacute</string>
        <string>sacute</string>
        <string>Umacron</string>
        <string>umacron</string>
        <string>Uring</string>
        <string>uring</string>
        <string>uhungarumlaut</string>
        <string>germandbls</string>
        <string>registered</string>
        <string>copyright</string>
        <string>yen</string>
        <string>yacute</string>
        <string>Nacute</string>
        <string>arrowupdn</string>
        <string>uni2196</string>
        <string>uni2197</string>
        <string>uni2198</string>
        <string>uni2199</string>
        <string>Dcroat</string>
        <string>aogonek</string>
        <string>Aogonek</string>
        <string>Uogonek</string>
        <string>eogonek</string>
        <string>Eogonek</string>
        <string>Lslash</string>
        <string>lslash</string>
        <string>f_f_l</string>
        <string>f_f_i</string>
        <string>f_f</string>
        <string>fi</string>
        <string>fl</string>
        <string>w_w_w</string>
        <string>ordfeminine</string>
        <string>b.superior</string>
        <string>c.superior</string>
        <string>d.superior</string>
        <string>h.superior</string>
        <string>j.superior</string>
        <string>k.superior</string>
        <string>m.superior</string>
        <string>o.superior</string>
        <string>q.superior</string>
        <string>s.superior</string>
        <string>v.superior</string>
        <string>y.superior</string>
        <string>z.superior</string>
        <string>w.superior</string>
        <string>Edotaccent</string>
        <string>edotaccent</string>
        <string>eacute.superior</string>
        <string>ydieresis</string>
        <string>Racute</string>
        <string>Rcaron</string>
        <string>dotaccent.case</string>
        <string>thinspace</string>
        <string>uni202F</string>
        <string>filledbox</string>
        <string>zdotaccent</string>
        <string>Zdotaccent</string>
        <string>imacron</string>
        <string>Tcaron</string>
        <string>Lcaron</string>
        <string>ogonek.case</string>
        <string>uogonek</string>
        <string>iogonek</string>
        <string>Iogonek</string>
        <string>hungarumlaut.case</string>
        <string>Uhungarumlaut</string>
      </array>
    </dict>
</plist>
